[submodule "fscked.com/themes/ananke"]
	path = fscked.com/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "fscked.com/themes/axiom"]
	path = fscked.com/themes/axiom
	url = https://github.com/marketempower/axiom.git
[submodule "paydata.org/themes/navigator-hugo"]
	path = paydata.org/themes/navigator-hugo
	url = https://github.com/themefisher/navigator-hugo.git
[submodule "paydata.org/themes/academic"]
	path = paydata.org/themes/academic
	url = https://github.com/sourcethemes/academic-kickstart.git
[submodule "paydata.org/themes/docsy"]
	path = paydata.org/themes/docsy
	url = https://github.com/google/docsy.git
[submodule "tumblr-migration/tumblr2hugomarkdown"]
	path = tumblr-migration/tumblr2hugomarkdown
	url = https://github.com/Wysie/tumblr2hugomarkdown.git
[submodule "objection-salad.com/themes/ananke"]
	path = objection-salad.com/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "objection-salad.com/themes/stack"]
	path = objection-salad.com/themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack
[submodule "objection-salad.com/themes/hugo-theme-stack"]
	path = objection-salad.com/themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack/
